page-home {

    .color{
        color: rgb(0, 0, 146);
        text-justify: auto;
    }

    .boton{
        width: auto;
        text-align: center
    }

    .insertar{
        width: 100%;
        text-align: center
    }
    
}

